.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 90%;
  }

  .limit-width,
  .panel {
    max-width: 1024px;
    width: 90%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.logo {
  padding: 0;
  margin: 0;
  color: hsla(0,0%,0%,0.8);
}

.logo__a {
  color: currentColor;
  text-decoration: none;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: sans-serif;
  color: hsla(0,0%,0%,0.8);
}

.nav__list__item {
  display: inline;
  margin-left: 1rem;
}

.nav__list__a {
  text-decoration: none;
  color: currentColor;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
  transition: border-color .25s linear;
}

.nav__list__a:hover {
  border-bottom: 3px solid currentColor;
}

.nav__list__a.is-active {
  border-bottom: 3px solid currentColor;
}

.background-alt {
  background-color: #f4f4f4;
}

.selectorPanel {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.selectorPanel__items {
  display: flex;
  font-size: 75%;
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: space-between;
}

.selectorPanel__item {
  background-color: white;
  border-radius: 5px;
  flex-basis: calc(50% - 1rem);
  padding: 1rem;
  min-height: 40vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
}

.selectorPanel__header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.pageSelector {
  margin-bottom: 3rem;
}

.pageSelector__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
}

.pageSelector__item {
  background-color: white;
  flex-basis: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid hsla(0,0%,0%,0.8);
  border-radius: 5px;
  min-height: 45vh;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: hsla(0,0%,0%,0.8);
  transition: all .25s linear;
}

.pageSelector__item:hover {
  background-color: hsla(0,0%,0%,0.8);
  color: white;
  transform: scale(1.05);
}

.pageSelector__a {
  color: currentColor;
  font-size: 75%;
  text-decoration: none;
}

.pageSelector__content {
  font-family: sans-serif;
}

@media only screen and (min-width: 600px) {
  .pageSelector__item {
    flex-basis: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 900px) {
  .pageSelector__item {
    flex-basis: calc(33.333% - 1rem);
  }
}

.footer {
  font-size: 75%;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.links {
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.links li {
  display: inline;
}

.links li:not(:last-child):after {
  content: '/';
  margin-right: 1rem;
  margin-left: 1rem;
}

.link__a {
  color: hsla(0,0%,0%,0.8);
  text-decoration: none;
  transition: border-color .25s linear;
  border-bottom: 2px solid transparent;
}

.link__a:hover {
  border-bottom: 2px solid hsla(0,0%,0%,0.8);
}

.hero {
  margin-top: 15vh;
  margin-bottom: 13vh;
}

@media only screen and (min-width: 600px) {
  .hero {
    font-size: 150%;
    margin-top: 20vh;
    margin-bottom: 18vh;
  }
}

.button {
  font-family: sans-serif;
  color: hsla(0,0%,0%,0.8);
  display: inline-block;
  border: 1px solid hsla(0,0%,0%,0.8);
  border-radius: 5px;
  padding: .75rem 1.5rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  transition: all .25s linear;
  line-height: 1;
}

.button:hover {
  color: white;
  background-color: hsla(0,0%,0%,0.8);
}

.paging {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paging__list {
  margin: 0;
  padding: 0;
}

.paging__item {
  text-decoration: none;
}

.headerPanel {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Tempory, I'll need stylign for this  */
blockquote {
  position: relative;
}

blockquote:before {
  content: '';
  position: absolute;
  left: -1rem;
  height: 100%;
  width: 5px;
  background-color: hsla(0,0%,0%,0.8);
}

