a {
  color: black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 90%;
  }

  .limit-width,
  .panel {
    max-width: 1024px;
    width: 90%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.logo {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: black;
}

.logo__a {
  color: currentColor;
  text-decoration: none;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  /* font-family: sans-serif; */
  color: black;
}

.nav__list__item {
  display: inline;
  margin-left: 1rem;
}

.nav__list__a {
  font-size: 14px;
  text-decoration: none;
  color: currentColor;
  border-bottom: 3px solid transparent;
  padding-bottom: 2px;
  transition: border-color .25s linear;
}

.nav__list__a:hover {
  border-bottom: 3px solid #756cdf;
}

.nav__list__a.is-active {
  border-bottom: 3px solid #756cdf;
}

.background-alt {
  background-color: #f5faff;
}

.selectorPanel {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.selectorPanel__items {
  display: flex;
  /* font-size: 75%; */
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: space-between;
}

.selectorPanel__item {
  background-color: white;
  border-radius: 5px;
  flex-basis: calc(50% - 1rem);
  padding: 1rem;
  min-height: 40vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
}

.selectorPanel__header {
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.pageSelector {
  margin-bottom: 3rem;
}

.pageSelector__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
}

.pageSelector__item {
  background-color: white;
  flex-basis: 100%;
  padding: 1rem;
  border: .5px solid black;
  border-radius: 5px;
  min-height: 330px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
  transition: background-color .25s ease-in-out,
    transform .25s ease-in-out;
}

.pageSelector__item:hover {
  color: white;
  transform: scale(1.02);
}

.pageSelector__item:hover * {
  color: white;
}

.pageSelector__item:nth-child(4):hover * {
  color: black;
}

.pageSelector__item:nth-child(1) {
  border-color: #00b68d;
}

.pageSelector__item:nth-child(1):hover {
  background-color: #00b68d;
}

.pageSelector__item:nth-child(2) {
  border-color: #c51162;
}

.pageSelector__item:nth-child(2):hover {
  background-color: #c51162;
}

.pageSelector__item:nth-child(3) {
  border-color: #ff0266;
}

.pageSelector__item:nth-child(3):hover {
  background-color: #ff0266;
}

.pageSelector__item:nth-child(4) {
  border-color: #ffde03;
}

.pageSelector__item:nth-child(4):hover {
  background-color: #ffde03;
}

.pageSelector__item:nth-child(5):hover {
  background-color: #0336ff;
}

.pageSelector__item:nth-child(5) {
  border-color: #0336ff;
}

.pageSelector__item:nth-child(6) {
  border-color: #3601b0;
}

.pageSelector__item:nth-child(6):hover {
  background-color: #3601b0;
}

.pageSelector__title {
  font-size: 22px;
  color: currentColor;
}

.pageSelector__tags {
  font-size: 22px;
  color: #9b9b9b;
}

.pageSelector__a {
  color: currentColor;
  text-decoration: none;
}

.pageSelector__content {
  /* font-family: sans-serif; */
  color: #9b9b9b;
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  .pageSelector__item {
    flex-basis: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 900px) {
  .pageSelector__item {
    flex-basis: calc(33.333% - 1rem);
  }
}

.footer {
  /* font-size: 75%; */
  /* font-family: sans-serif; */
  text-align: center;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.footer__content {
  font-size: 16px;
}

.links {
  font-size: 16px;
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.links li {
  display: inline;
}

.links li:not(:last-child):after {
  content: '/';
  margin-right: 1rem;
  margin-left: 1rem;
}

.link__a {
  color: black;
  text-decoration: none;
  transition: border-color .25s linear;
  border-bottom: 2px solid transparent;
}

.link__a:hover {
  border-bottom: 2px solid black;
}

.hero {
  margin-top: 15vh;
  margin-bottom: 13vh;
}

.hero__title {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.hero__content {
  font-family: 'Roboto', sans-serif;
  color: #9b9b9b;
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  .hero {
    /* font-size: 150%; */
    margin-top: 20vh;
    margin-bottom: 18vh;
  }
}

.button {
  font-size: 12px;
  color: #756cdf;
  display: inline-block;
  border: 1px solid #756cdf;
  border-radius: 3px;
  padding: .75rem 1.5rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  transition: all .25s linear;
  line-height: 1;
}

.button:hover {
  color: white;
  background-color: #756cdf;
}

.paging {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paging__list {
  margin: 0;
  padding: 0;
}

.paging__item {
  color: currentColor;
  text-decoration: none;
}

.paging__item + .paging__item {
  text-align: right;
}

.headerPanel {
  padding-top: 15vh;
  padding-bottom: calc(15vh - 1rem);
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Tempory, I'll need stylign for this  */
blockquote {
  position: relative;
}

blockquote:before {
  content: '';
  position: absolute;
  left: -1rem;
  height: 100%;
  width: 5px;
  background-color: black;
}

.float-right {
  float: right;
}

.is-hidden {
  display: none;
}
