body {
  color: #263238;
  letter-spacing: 0.05rem;
  background: rgb(251, 251, 251);
}

a {
  color: #263238;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 90%;
  }

  .home-page .limit-width {
    max-width: 1024px;
    width: 90%;
  }

  .limit-width {
    max-width: 700px;
    width: 90%;
  }
}

.panel:first-child {
  margin-top: 50px;
  padding-top: 50px;
}

@media only screen and (min-width: 600px) {
  .panel:first-child {
    margin-top: 50px;
    padding-top: 50px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.logo {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #263238;
}

.logo__a {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  padding: .5rem;
  margin-left: -.5rem;
}

.logo__img {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #263238;
}

.nav__list__item {
  display: inline;
}

.nav__list__item:not(:first-child)  {
  margin-left: 1rem;
}

.nav__list__a {
  font-size: 14px;
  text-decoration: none;
  color: currentColor;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: border-color .25s linear;
}

.nav__list__a:hover {
  border-bottom: 2px solid #756cdf;
}

.nav__list__a.is-active {
  border-bottom: 2px solid #756cdf;
}

.background-alt {
  background-color: #f4f6f9;
}

.selectorPanel {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.headerPanel h1 {
  color: #756CDF;
  font-size: 25px;
}

.animate {
  transform: translateZ(50%);
  opacity: 0;
  transition-property: opacity,transform;
  transform: translate3d(0,100px,0);
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
}

.animate.in {
  transform: translateZ(0);
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .animate:nth-child(3n + 1) {
    transition-delay: 0s;
  }

  .animate:nth-child(3n + 2) {
    transition-delay: .25s;
  }

  .animate:nth-child(3n + 3) {
    transition-delay: .5s;
  }
}

.selectorPanel__items {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectorPanel__item {
  background-color: white;
  border-radius: 5px;
  flex-basis: 100%;
  padding: 1rem;
  min-height: 40vh;
  display: flex;
  align-items: center;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
  .selectorPanel__items {
    flex-wrap: nowrap;
  }

  .selectorPanel__item {
    flex-basis: calc(50% - .75rem);
    margin-bottom: 0;
  }
}

.selectorPanel__header {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.pageSelector {
  margin-bottom: 3rem;
}

.pageSelector__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.pageSelector__item {
  background-color: white;
  flex-basis: 100%;
  border: .5px solid #263238;
  border-radius: 5px;
  min-height: 330px;
  margin-bottom: 1.5rem;
  color: #263238;
  position: relative;

  &:before {
    content: '';
    transition: transform 0.25s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  }
}

.pageSelector__item:hover,
.pageSelector__item:hover * {
  color: #fdf5f5;
}

.pageSelector__item:nth-child(1) {
  border-color: #009688;

  &:hover:before {
    background-color: #009688;
  }
}

.pageSelector__item:nth-child(1):hover {
  background-color: #009688;
}

.pageSelector__item:nth-child(2) {
  border-color: #c51162;
  &:hover:before {
    background-color: #c51162;
  }
}

.pageSelector__item:nth-child(2):hover {
  background-color: #c51162;
}

.pageSelector__item:nth-child(3) {
  border-color: #ff0266;
  &:hover:before {
    background-color: #ff0266;
  }
}

.pageSelector__item:nth-child(3):hover {
  background-color: #ff0266;
}

.pageSelector__item:nth-child(4) {
  border-color: #ef5a09;
  &:hover:before {
    background-color: #ef5a09;
  }
}

.pageSelector__item:nth-child(4):hover {
  background-color: #ef5a09;
}

.pageSelector__item:nth-child(5):hover {
  background-color: #0336ff;
}

.pageSelector__item:nth-child(5) {
  border-color: #0336ff;
  &:hover:before {
    background-color: #0336ff;
  }
}

.pageSelector__item:nth-child(6) {
  border-color: #3601b0;
  &:hover:before {
    background-color: #3601b0;
  }
}

.pageSelector__item:nth-child(6):hover {
  background-color: #3601b0;
}

.pageSelector__item:nth-child(7) {
  border-color: #9e60a9;
  &:hover:before {
    background-color: #9e60a9;
  }
}

.pageSelector__item:nth-child(7):hover {
  background-color: #9e60a9;
}

.pageSelector__item:nth-child(8) {
  border-color: #1e88e5;
  &:hover:before {
    background-color: #1e88e5;
  }
}

.pageSelector__item:nth-child(8):hover {
  background-color: #1e88e5;
}

.pageSelector__item:nth-child(9) {
  border-color: #016256;
  &:hover:before {
    background-color: #016256;
  }
}

.pageSelector__item:nth-child(9):hover {
  background-color: #016256;
}

.pageSelector__item:nth-child(10) {
  border-color: #3e2723;
  &:hover:before {
    background-color: #3e2723;
  }
}

.pageSelector__item:nth-child(10):hover {
  background-color: #3e2723;
}

.pageSelector__item:nth-child(11) {
  border-color: #e1002c;
  &:hover:before {
    background-color: #e1002c;
  }
}

.pageSelector__item:nth-child(11):hover {
  background-color: #e1002c;
}

.pageSelector__item:nth-child(12) {
  border-color: #5c6bc0;
  &:hover:before {
    background-color: #5c6bc0;
  }
}

.pageSelector__item:nth-child(12):hover {
  background-color: #5c6bc0;
}

.pageSelector__title {
  font-size: 20px;
  font-weight: 400;
  color: currentColor;
}

.pageSelector__tags {
  font-size: 16px;
  font-weight: 500;
  color: #b3afaf;
}

.pageSelector__center *:last-child {
  margin-bottom: 0;
}

.pageSelector__a {
  color: currentColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.pageSelector__content {
  font-size: 16px;
  color: #737272;
}

@media only screen and (min-width: 600px) {
  .pageSelector__items {
    padding-left: 0;
    padding-right: 0;
  }
  .pageSelector__item {
    flex-basis: calc(50% - .75rem);
  }
}

@media only screen and (min-width: 900px) {
  .pageSelector__item {
    flex-basis: calc(33.333% - 1rem);
  }
}

.about-page main,
.home-page main {
  background: transparent;
}

main {
 background: white;
}

.footer {
  background-color: #fdfdfd;
  text-align: center;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.footer .button {
  margin-bottom: 1.5rem;
}

.footer__content {
  float: left;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.links {
  overflow: hidden;
  font-size: 13px;
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.links li {
  display: inline-block;
  margin-bottom: 0;
}

.links li:not(:last-child):after {
  content: '/';
  margin-right: .5rem;
  margin-left: .5rem;
}

@media only screen and (min-width: 600px) {
  .links {
    font-size: 16px;
  }

 .links li:not(:last-child):after {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.link__a {
  color: #263238;
  text-decoration: none;
  transition: border-color .25s linear;
  border-bottom: 2px solid transparent;
}

.link__a:hover {
  border-bottom: 2px solid #756cdf;
}

@media only screen and (min-width: 600px) {
  .footer__content,
  .links li {
    float: none;
  }
  .links li {
    width: inherit;
  }
}

.hero {
  height: 400px;
  position: relative;
}

.hero__wrap {
  position: absolute;
  bottom: 1.4rem;
}

.hero__title {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 2.8rem;
}

.hero__content {
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  .hero {
    height: 250px;
  }
}

.button {
  outline: 0;
  font-size: 12px;
  color: #756cdf;
  display: inline-block;
  border: 1px solid #756cdf;
  border-radius: 3px;
  padding: .75rem 1.5rem;
  text-decoration: none;
  transition: all .25s linear;
  line-height: 1;
  position: relative;
  min-width: 140px;
  text-align: center;
  background-color: white;
}

.button:hover {
  color: white;
  background-color: #756cdf;
}

.button--with-icon {
  text-align: left;
  padding: .75rem;

  &:after {
    content: '\2193';
    position: absolute;
    right: .75rem;
    font-size: 150%;
    vertical-align: middle;
    transform: translateY(-50%);
    top: 50%;
  }
}

.paging {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.paging__list {
  margin: 0;
  padding: 0;
}

.paging__item {
  color: currentColor;
  text-decoration: none;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;

  & *:last-child {
    margin-bottom: 0;
  }
}

.paging__item {
  order: 1;
}

.paging__item + .paging__item {
  text-align: right;
  order: 0;
}

@media only screen and (min-width: 600px) {
  .paging__item {
    order: 0;
    flex-basis: 40%;
  }

  .paging__item + .paging__item {
    order: 1;
  }
}

.paging__description {
  color: #737272;
  font-size: 16px;
  margin-bottom: 1rem;
}

.prev-arrow,
.next-arrow {
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;

  &:after,
  &:before {
    color: #756cdf;
  }

  & + * {
    margin-bottom: 1rem;
  }
}

.prev-arrow:before {
  content: '\2190';
  margin-right: 0.5rem;
}

.next-arrow:after {
  content: '\2192';
  margin-left: 0.5rem;
}

.about-page .content {
  font-size: 16px;
}

.content {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  margin-bottom: 1.4rem;
}

.content div *:last-child {
  margin-bottom: 0;
}

.content a {
  text-decoration: none;
  border-bottom: 2px solid #756cdf;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 600;
}

.imagePanel * {
  outline: 0;
}

.imagePanel button {
  display: none;
}

@media only screen and (min-width: 600px) {
  .imagePanel button {
    display: block;
    border: 0;
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
  }
}

.slider-slide > img {
  height: auto;
}

.slider-control-centerleft button,
.slider-control-centerright button {
  position: absolute;
  transform: translateY(-50%);
}

.slider-control-centerleft button {
  left: -50px;
}

.slider-control-centerright button {
  right: -50px;
}

.slider-control-bottomcenter {
  bottom: -70px !important;
}

.imagePanel + .imagePanel {
  margin-top: 2.8rem;
}

.imagePanel:last-child {
  padding-bottom: 2.8rem;
}

.imagePanel__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.4rem;
}

.password {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  font-size: 20px;
  padding: .5rem;
}

.passwordPanel {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f4f6f9;
  z-index: 100;
}

.password__close {
  border: 0;
  background: transparent;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  font-size: 30px;
  height: 4ex;
  width: 4ex;
}

blockquote {
  position: relative;
  font-style: italic;
}

.float-right {
  float: right;
}

.is-hidden {
  display: none;
}
